// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: white;
    text-align: center;
  }